<div class="news">
  <br>
  <h2>news</h2>
  {% if site.news  %}
  <div class="publications">
    <ol class="bibliography">
      {% assign news = site.news | reverse %}
      {% for item in news limit: site.news_limit %}
    <li><div class="row">
      <div class="col-sm-2 abbr"> <abbr class="badge" style="width:100px"> {{ item.date | date: "%b %-d, %Y" }} </abbr></div>
      <div class="col-sm-8">
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}" target="_blank">{{ item.title }}</a>
            {% endif %}      
      </div>
    </div></li>
      {% endfor %}
    </ol>
  </div>
  {% endif %}
</div>  
